@import "tailwindcss";
@import "../node_modules/frappe-gantt/dist/frappe-gantt.css";

.gantt .grid-header {
  min-width: 100%;
}

.gantt .bar-label,
.gantt .lower-text,
.gantt .upper-text {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
